---
layout: default
title: Home
notitle: true
---

<!--
<div class="jumbotron">
  <p>
    <b>Utah Scalable Computer Systems</b> at the <b>University of Utah</b>
  </p>
</div>
-->

<h2>News</h2>
<ul class="news list-unstyled">
  {% for post in site.posts limit: site.front_page_news %}
  {% if post.shortnews %}
  <li class="shortnews">
    <span class="date">{{ post.date | date_to_long_string }}</span>
    {{ post.content }}
  </li>
  {% else %}
  <li class="bloglink">
    <span class="date">{{ post.date | date_to_long_string }}</span>
    <a href="{{ post.url }}">&raquo; {{ post.title }}</a>
  </li>
  {% endif %}
  {% endfor %}

  <h2>People</h2>
  <table>
    <tr>
      <td>
        <table>
          {% for item in site.data.people %}
          {% assign person = item[1] %}
          <td style="width:600px;" class="person {{ person.role }} ">
            {% if person.webpage %}
            <span>
              <a href="{{ person.webpage |escape }} ">
                {% if person.headshot %}
                <img class="img-circle profile" src="{{person.headshot}}" alt="{{person.display_name}}" width="100" height="100"/>
                {% endif %}
              </a>
            </span>
          </td>
          {% endif  %}
          {% endfor %}
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>

      <table>
        <tr>
          {% for item in site.data.people %}
          {% assign person = item[1] %}
          <td style="width:600px;" class="person {{ person.role }}">
            <span>
              <a href="{{ person.webpage |escape }} ">
                <p> {{ person.display_name }} </p>
              </a>
            </span>
          </td>
          {% endfor %}
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
     <table>
      <tr>
        {% for item in site.data.people %}
        {% assign person = item[1] %}
        <td style="width:600px;vertical-align:top" class="person {{ person.role }}">
            {% if person.bio %}
            <p class="bio"> {{ person.bio }} </p>
            {% endif %}
        </td>
        {% endfor %}
      </tr>
    </table>
  </td>
</tr>
</table


</ul>
{% assign numposts = site.posts | size %}
{% if numposts >= site.front_page_news %}
<p><a href="{{ site.base }}/blog/">Older posts&hellip;</a></p>
{% endif %}
