<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://dl.acm.org/authorize?N49981">Rocksteady: Fast Data Migration for Low-latency In-memory Storage</a>.
			</span><br />
			<span class="authors">
				Chinmay Kulkarni, Aniraj Kesavan, Tian Zhang, Robert Ricci, and Ryan Stutsman.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the Twenty-Sixth ACM Symposium on Operating Systems Principles (SOSP '17)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.usenix.org/conference/atc17/program/presentation/cidon">Memshare: Memory Resource Sharing in Multi-tenant Web Caches</a>.
			</span><br />
			<span class="authors">
				Asaf Cidon, Daniel Rushton, Stephen M. Rumble, and Ryan Stutsman.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 2017 USENIX Conference on Annual Technical Conference (USENIX ATC'17)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.usenix.org/conference/hotcloud17/program/presentation/zhang">JavaScript for Extending Low-latency In-memory Key-value Stores</a>.
			</span><br />
			<span class="authors">
				Tian Zhang and Ryan Stutsman.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 9th USENIX Conference on Hot Topics in Cloud Computing (HotCloud'17)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://sites.computer.org/debull/A17mar/p62.pdf">Beyond Simple Request Processing with RAMCloud</a>.
			</span><br />
			<span class="authors">
				Chinmay Kulkarni, Aniraj Kesavan, Robert Ricci, and Ryan Stutsman.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Data Engineering Bulletin 40(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.flux.utah.edu/download?uid=238">To Copy or Not to Copy: Making In-Memory Databases Fast on Modern NICs</a>.
			</span><br />
			<span class="authors">
				Aniraj Kesavan, Robert Ricci, and Ryan Stutsman.
			</span><br />
			<span class="venuetype"></span><span class="venue">4th Workshop on In-memory Data Management</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://dl.acm.org/citation.cfm?id=2897674">Toward Rigorous Design of Domain-Specific Distributed Systems</a>.
			</span><br />
			<span class="authors">
				Mohammed Al-Mahfoudh, Ganesh Gopalakrishnan, and Ryan Stutsman.
			</span><br />
			<span class="venuetype"></span><span class="venue">4th IEEE/ACM FME Workshop on Formal Methods in Software Engineering, FormaliSE 2016, Austin, Texas, May 15, 2016</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://ieeexplore.ieee.org/document/7785746/">Toward Bringing Distributed Systems Design Upon Rigorous Footing</a>.
			</span><br />
			<span class="authors">
				Mohammed Al-Mahfoudh, Ganesh Gopalakrishnan, and Ryan Stutsman.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Workshop on Formal Methods and Integration (FMi)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.usenix.org/conference/atc15/technical-session/presentation/stutsman">Experience with Rules-Based Programming for Distributed, Concurrent, Fault-Tolerant Code</a>.
			</span><br />
			<span class="authors">
				Ryan Stutsman, Collin Lee, and John Ousterhout.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 2015 USENIX Conference on Annual Technical Conference (USENIX ATC'15)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
