<div style="vertical-align: middle; clear: both; padding: 10px;">
  {% if include.paper.logo != "" %}
    <a href="{{ site.base }}/projects/{{ include.paper.key }}">
      <img src="{{ site.base }}/{{ include.paper.logo }}" width="100" style="float: left; margin: 10px;">
    </a>
  {% else %}
    <img src=" data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width=100 style="float:left; margin: 10px;">
  {% endif %}
  <div style="height: 100px; display: table-cell;">
      <a href="{{ site.base }}/projects/{{ include.paper.key }}" style="font-size: 14pt; white-space: pre-wrap;">{{ include.paper.title }}</a>
    <div>{{ include.paper.authors }}</div>
    <div>{{ include.paper.series }}</div>
    {% if include.note != "" %}
    <div style="padding-top: 5px;">{{ include.note }}</div>
    {% endif %}
  </div>
</div>

